<h1 class="neonTextTitle">Admin Dashboard</h1>
<br>
<br>

<%# Heading and subheadings for a list of users %>
<h2 class="neonTextTitle">Users</h2>
<div class="user-container labels">
  <p class="user-container-item neonText">Id</p>
  <p class="user-container-item neonText">Full Name</p>
  <p class="user-container-item neonText">Email</p>
  <p class="user-container-item neonText">Role</p>
  <p class="user-container-item neonText">User Since</p>
</div>

<%# Renders a list of users via partial with an each loop, passing parameter user %>
<ul class="list-group">
  <% @users.each do |user| %>
        <%= render partial: "partials/user_list_item", locals: {user: user} %>
  <% end %>
</ul>

<%# Heading and subheadings for a summary of items %>
<h2 class="neonTextTitle mt-5">Items</h2>
<div class="items-container labels">
  <p class="user-container-item neonText">Total Item Count</p>
  <p class="user-container-item neonText">Arms</p>
  <p class="user-container-item neonText">Legs</p>
  <p class="user-container-item neonText">Hands</p>
  <p class="user-container-item neonText">Feet</p>
  <p class="user-container-item neonText">Eyes</p>
</div>

<%# Summary statistics for items using instance variables from controller %>
<ul class="list-group">
  <li class="list-group-item">
    <div class="items-container">
      <p><%= @items.length %></p>
      <p><%= @arms.length %></p>
      <p><%= @legs.length %></p>
      <p><%= @hands.length %></p>
      <p><%= @feet.length %></p>
      <p><%= @eyes.length %></p>
    </div>
  </li>
</ul>