  <div class="card mb-3 mx-auto">
    <div class="row g-0">
      <div class="card-img-container col-md-4">
        <%= image_tag(item.picture, alt: "image", class: "card-img") if item.picture.attached? %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <%= link_to "#{item.title}", item_path(item), class: "neonTextTitle" %>
          <p class="card-text neonText"><%= number_to_currency(item.price, unit: "¥") %></p>
          <p class="card-text neonText">Material: <%= item.material %></p>
          <p class="card-text neonText">Limb: <%= item.limb %></p>
          <p class="card-text neonText">Type: <%= item.control_type %></p>
        </div>
      </div>
    </div>
  </div>