  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag(item.picture, alt: "image", class: "img-fluid") if item.picture.attached? %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <%= link_to "#{item.title}", item_path(item) %>
          <p class="card-text"><%= item.description %></p>
          <p class="card-text"><%= item.price %></p>
          <p class="card-text"><%= @materials[item.material_id].title %></p>
          <p class="card-text"><%= @limbs[item.limb_id].title %></p>
          <p class="card-text"><%= @types[item.type_id].title %></p>
        </div>
      </div>
    </div>
  </div>