<div class="form-group form-inputs">
  <%= form_with model: @item do |form| %>
    <%= form.label :title, class: "neonText" %>
    <%= form.text_field :title, class: "form-control" %>
    <br>
    <%= form.label :description, class: "neonText" %>
    <%= form.text_area :description, class: "form-control" %>
    <br>
    <%= form.label :limb_id, class: "neonText" %>
    <%= form.select :limb_id, limbs.map {|l| [l.name, l.id]}, class: "form-control" %>
    <br>
    <%= form.label :material, class: "neonText" %>
    <%= form.select :material, ["Titanium", "Chromium", "Steel Alloy", "Carbon Fibre"], class: "form-control" %>
    <br>
    <%= form.label :control_type, class: "neonText" %>
    <%= form.select :control_type, ["Exo", "Myco", "Neural"], class: "form-control" %>
    <br>
    <%= form.label :quantity, class: "neonText" %>
    <%= form.number_field :quantity, min:1, class: "form-control" %>
    <br>
    <%= form.label :price, class: "neonText" %>
    <%= form.number_field :price, min:0, class: "form-control" %>
    <br>
    <%= form.label :picture, class: "neonText" %>
    <%= form.file_field :picture, accept: "image/png, image/jpg, image/jpeg" %>
    <br>
    <br>
    <%= form.submit %>
  <% end %>
</div>



<%# <%= simple_form_for @item do |f| %>
  <%# <%= f.input :title, placeholder: 'e.g. Bionic Arm x34 v2.0', error: 'Title is required' %>
  <%# <%= f.input :limb_id, collection: @limbs, error: 'Limb is required' %>
  <%# <%= f.input :material_id, collection: @materials,  error: 'Limb is required' %>
  <%# <%= f.input :type_id, collection: @types, error: 'Type is required' %>
  <%# <%= f.input :price, as: :integer, min: 0 %>
  <%# <%= f.input :description, as: :text, placeholder: 'e.g. Bionic Arm featuring latest enhancements', error: 'Description is required' %>
  <%# <%= f.input :image, as: :file %>
  <%# <%= f.button :submit %>
<%# <% end %>