<div class="p-4 rounded-3 m-3 position-relative">
      <%= form_with(method:"get", url: items_path, scope: :search, local: true) do |form| %>
            <%= form.label :title,  class: "neonText" %>
            <%= form.text_field :title %>
            <%= form.label :limb_id %>
            <%= form.select :limb_id, @limbs.map {|l| [l.name, l.id]}  %>
            <%= form.submit "search" %>
      <% end %>

      <% @items.each do |item| %>
            <%= render partial: "partials/card", locals: {item: item} %>
      <% end %>
</div>