<h1>new</h1>

<%= simple_form_for @item do |f| %>
  <%= f.input :title, placeholder: 'e.g. Bionic Arm x34 v2.0', error: 'Title is required' %>
  <%= f.input :limb, collection: ["Arm", "Leg", "Eye", "Hand", "Foot"], selected: "Arm", error: 'Limb is required' %>
  <%= f.input :material, collection: @materials, as: :radio_buttons,  error: 'Limb is required' %>
  <%= f.input :type, collection: ["Manual", "Bio-Mechanical", "Powered"], selected: "Manual" %>
  <%= f.input :price, as: :integer, min: 0 %>
  <%= f.input :description, as: :text, placeholder: 'e.g. Bionic Arm featuring latest enhancements', error: 'Description is required' %>
  <%= f.button :submit %>
<% end %>

<%# <%= form_with model: @item do |form| %> 
  <%# <%= form.label :title %> 
<%# <% end %> 