  <div class="card-body">
    <%= image_tag(@item.picture, alt: "image", class: "img-fluid") if @item.picture.attached? %>
    <h5 class="card-title neonTextTitle"><%= @item.title %></h5>
    <p class="card-text neonText"><%= @item.description %></p>
    <p class="card-text neonText price"><%= number_to_currency(@item.price, unit: "¥")  %></p>
    <p class="card-text neonText">Material: <%= @item.material %></p>
    <p class="card-text neonText">Limb: <%= @item.limb %></p>
    <p class="card-text neonText">Type: <%= @item.control_type %></p>
    <p class="card-text neonText">Seller: <%= @item.user.first_name + " " + @item.user.last_name %></p>
    <% if current_user && (current_user.id == @item.user_id) %>
      <%= link_to "Edit", edit_item_path(@item.id), class: "nav-link" %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "Add to Cart", add_to_cart_path(@item), :method => :post, :class => "btn btn-outline-secondary" %>
    <% end %>
  </div>